# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pierr\OneDrive\Bureau\ISEN\A3\langage_C\Examen_Final\.idea/dataSources/
/dataSources.local.xml
